:root {
  --accent-color: #D7093D; /* Crimson */
  --accent-color-transparent: #D7093D33; /* Crimson 20% */
  --footer-background-color: #0A0A0A; /* Night */
  --footer-text-color-light: #F8F8F8; /* Seasalt */
  --footer-text-color-medium: #EFEFEF; /* Anti-Flash White */
  --footer-text-color-dark: #D8D8D8; /* Timberwolf */
}

html[data-theme="light"] {
  --background-color-light: #F8F8F8; /* Seasalt */
  --background-color-dark: #EFEFEF; /* Anti-Flash White */
  --background-image: url(../assets/page-background-light.png);
  --shadow-color: #0A0A0A1A; /* Night 10% */
  --text-color-dark: #0A0A0A; /* Night */
  --text-color-medium: #1B1B1B; /* Eerie black */
  --text-color-light: #2C2C2C; /* Jet */
  --background-linear-gradient: linear-gradient(to right, #F8F8F8CC, #EFEFEFCC); /* Seasalt 80% into Anti-Flash White 80% */
}

html[data-theme="dark"] {
  --background-color-light: #0A0A0A; /* Night */
  --background-color-dark: #1B1B1B; /* Eerie black */
  --background-image: url(../assets/page-background-dark.png);
  --shadow-color: #F8F8F81A; /* Seasalt 10% */
  --text-color-dark: #F8F8F8; /* Seasalt */
  --text-color-medium: #EFEFEF; /* Anti-Flash White */
  --text-color-light: #D8D8D8; /* Timberwolf */
  --background-linear-gradient: linear-gradient(to right, #0A0A0ACC, #1B1B1BCC); /* Night 80% into Eerie black 80% */
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 59%
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif
}

a {
  text-decoration: none;
  color: inherit
}

li {
  list-style: none
}

input:focus, button:focus, a:focus, textarea:focus {
  outline: none
}

button {
  border: none;
  cursor: pointer
}

textarea {
  resize: none
}

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: var(--text-color-dark);
  font-weight: 800
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 4.5rem
  }
}

.heading-section-margin-bottom-big {
  margin-bottom: 11rem
}

@media only screen and (max-width: 56.25em) {
  .heading-section-margin-bottom-big {
    margin-bottom: 8rem
  }
}

.heading-section-margin-bottom-medium {
  margin-bottom: 9rem
}

@media only screen and (max-width: 56.25em) {
  .heading-section-margin-bottom-medium {
    margin-bottom: 8rem
  }
}

.heading-section-main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: var(--text-color-dark);
}

.heading-section-main-light {
  color: var(--text-color-dark);
  font-weight: 800
}

  .heading-section-main-light::after {
    content: '';
    background: var(--accent-color) !important;
  }

.heading-section-main::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: var(--accent-color);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px
}

@media only screen and (max-width: 37.5em) {
  .heading-section-main::after {
    top: calc(100% + 1.2rem)
  }
}

.heading-section-subtitle {
  display: block;
  text-align: center;
  color: var(--text-color-medium);
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6
}

@media only screen and (max-width: 37.5em) {
  .heading-section-subtitle {
    font-size: 1.8rem;
  }
}

.heading-section-subtitle-light {
  color: var(--text-color-light);
}

.heading-small {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%
}

.btn {
  background: var(--accent-color);
  color: var(--background-color-light);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15); /*TODO*/
  transition: transform .3s
}

  .btn:hover {
    transform: translateY(-3px)
  }

.btn-big {
  padding: 1.5rem 8rem;
  font-size: 2rem
}

.btn-medium {
  padding: 1.5rem 5rem;
  font-size: 1.6rem
}

.section-pad {
  padding: 12rem 0
}

@media only screen and (max-width: 56.25em) {
  .section-pad {
    padding: 8rem 0
  }
}

.text-primary {
  color: var(--text-color-medium);
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6
}

@media only screen and (max-width: 37.5em) {
  .text-primary {
    font-size: 2rem
  }
}

.welcome-section {
  color: var(--background-color-light);
  background: var(--background-linear-gradient),var(--background-image);
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative
}

@media only screen and (max-width: 37.5em) {
  .welcome-section {
    height: unset;
    min-height: unset
  }
}

.welcome-section-socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--background-color-light);
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px; /*TODO*/
  padding: .5rem;
}

@media only screen and (max-width: 56.25em) {
  .welcome-section-socials {
    display: none
  }
}

.welcome-section-mouse-scroll-container {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%)
}

@media only screen and (max-width: 37.5em) {
  .welcome-section-mouse-scroll-container {
    display: none
  }
}

.welcome-section-social {
  width: 5rem
}

.welcome-section-social-link {
  width: 100%;
  display: block;
  padding: 1rem;
  transition: background .3s;
  border-radius: 5px
}

  .welcome-section-social-link:hover {
    background: var(--accent-color-transparent);
  }

.welcome-section-social-icon {
  width: 100%
}

.welcome-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%
}

@media only screen and (max-width: 37.5em) {
  .welcome-section-content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0)
  }
}

.welcome-section-info {
  margin: 3rem auto 0 auto;
  max-width: 80rem
}

.welcome-section-call-to-action {
  margin-top: 5rem;
  text-align: center
}

.about-section {
  background: var(--background-color-light);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem
}

.about-content-title {
  color: var(--text-color-medium)
}

@media only screen and (max-width: 56.25em) {
  .about-content {
    grid-template-columns: 1fr;
    grid-gap: 8rem
  }
}

.about-content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem
}

@media only screen and (max-width: 37.5em) {
  .about-content-title {
    font-size: 2.4rem
  }
}

.about-content-details-paragraph {
  font-size: 1.8rem;
  color: var(--text-color-light);
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem
}

  .about-content-details-paragraph:last-child {
    margin-bottom: 4rem
  }

  .about-content-details-paragraph a {
    text-decoration: underline;
    font-weight: 700;
    color: var(--accent-color);
    margin: 0 3px
  }

.projects-section {
  background: var(--background-color-light);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.project {
  background: var(--accent-color);
  color: var(--background-color-light);
  border-radius: 2px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  text-align: center;
}

.contact-section {
  background: var(--background-linear-gradient),var(--background-image);
  background-size: cover;
  background-position: center;
}

.contact-section-social-icon {
  height: 16px;
  width: 16px;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-link {
  display: flex;
  align-items: center;
  font-size: 2rem; /*TODO*/
  padding: 2rem; /*TODO*/
  transition: transform 0.3s ease-out;
}

  .contact-link:hover {
    transform: scale(1.5);
  }

  .contact-link img {
    margin: 1rem;
  }

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: var(--background-color-light);
  box-shadow: 0 10px 100px var(--shadow-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem
}

@media only screen and (max-width: 56.25em) {
  .header-content {
    padding: 0 2rem
  }
}

.header-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-color-medium);
  transition: color .3s
}

  .header-logo-container:hover {
    color: var(--accent-color);
  }

.header-logo-image-container {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: var(--accent-color);
}

@media only screen and (max-width: 56.25em) {
  .header-logo-image-container {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem
  }
}

.header-logo-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block
}

.header-logo-subtitle {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px
}

.header-navbar {
  display: flex;
  align-items: center;
}

.header-navbar-links {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .header-navbar-links {
    display: none
  }
}

.header-navbar-link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.6rem;
  color: var(--text-color-medium);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color .3s
}

  .header-navbar-link:hover {
    color: var(--accent-color);
  }

@media only screen and (max-width: 56.25em) {
  .header-navbar-link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem
  }
}

.theme-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: var(--text-color-dark);
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: transform .3s
}

theme-button:hover {
  transform: translateY(-3px)
}

.main-footer {
  background: var(--footer-background-color);
  color: var(--footer-text-color-light);
}

.main-footer-upper {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0
}

@media only screen and (max-width: 56.25em) {
  .main-footer-upper {
    padding: 6rem 0
  }
}

@media only screen and (max-width: 37.5em) {
  .main-footer-upper {
    display: block
  }
}

.main-footer-row-1 {
  order: 2
}

@media only screen and (max-width: 56.25em) {
  .main-footer-row-1 {
    margin-bottom: 5rem
  }
}

.main-footer-row-2 {
  width: 40%;
  order: 1;
  max-width: 50rem
}

@media only screen and (max-width: 56.25em) {
  .main-footer-row-2 {
    width: 100%
  }
}

.main-footer-short-description {
  margin-top: 2rem;
  color: var(--footer-text-color-medium);
  font-size: 1.5rem;
  line-height: 1.7
}

.main-footer-social-container {
  margin-top: 2rem
}

.main-footer-icon {
  margin-right: 1rem;
  width: 2.5rem
}

.margin-right-none {
  margin-right: 0
}

.main-footer-lower {
  padding: 4rem 0;
  border-top: 1px solid var(--footer-text-color-dark);
  color: var(--footer-text-color-medium);
  font-size: 1.2rem;
  text-align: left;
  text-align: center
}

  .main-footer-lower a {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 2px
  }

@media only screen and (max-width: 56.25em) {
  .main-footer-lower {
    padding: 3.5rem 0
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap
}

.skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: var(--text-color-light);
  border-radius: 5px;
  font-weight: 600;
  color: var(--background-color-dark);
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid var(--text-color-medium);
  border-radius: 60px;
  position: relative;
  overflow: hidden
}

  .mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color-medium);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite
  }

[data-theme="dark"] .theme-icon-dark,
[data-theme="light"] .theme-icon-light {
  display: block !important;
}

.div-hide {
  display: none !important;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px
  }
}
