@import "tailwindcss";
@import "./scss/stars.scss";

@theme {
  --animate-bganimation: bganimation 70s ease infinite;
  @keyframes bganimation {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
  }

  --animate-jumbotronstar: jumbotronstar 10s linear infinite;
  @keyframes jumbotronstar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  --animate-profilecard: profilecard 3s ease infinite;
  @keyframes profilecard {
    from {
      transform: translate(-.5rem, -.5rem);
    }
    to {
      transform: translateY(-2000px);
    }
  }
}
